.CM-profileImage {
  border-radius: 50%;
  height: 30px;
}

.CM-tracker-play-image {
  height: 15px;
}

.CM-tracker-likes-image {
  height: 15px;
}

.CM-tracker-reposts-image {
  height: 15px;
}

.CM-profile-album-image {
  height: 75px;
}

.CM-commentsEntry {
  border: 1px;
}

.CM-replyEntry {
  margin-left: 5%;
  border: 1px;
}